{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fae Paths - Home</title>
    <link rel="stylesheet" href="{% static 'fae_paths_app/homestyle.css' %}">
</head>
<body>
    <div class="header">
        <h1>Fae Paths</h1>
    </div>

    <!-- Navigation bar -->
    <nav>
        <a href="/">Home</a>
        <a href="/spell-list">Spell List</a>
        <a href="/character_gal">Character Gallery</a>
    </nav>
    
    <div class="container">
        <!-- Home Page Content -->
        <center><img src="{% static 'fae_paths_app/images/cov.png' %}" alt="game cover" width="400" height="400"></center>
        <center><h2>Join the Fae Path</h2></center>
        <p> Embark on a mesmerizing journey into the mystical realms of "Fae Paths," a spellbinding fantasy video game that weaves together the tapestry of occultism and witchcraft. 
            In a world where ancient magicks collide, and the very essence of arcane knowledge is at stake, you will become the hero destined to save the multiverse from a malevolent force threatening to consume all forms of magick.
            
            <br/><br/>
            <b>Unleash the Power of the Occult:</b>
            Step into the shoes of a budding occultist, a master of arcane arts, capable of harnessing the most potent spells for healing, combat, and character enhancement. 
            Your journey begins with the mastery of essential spells, but as you progress, you'll delve deeper into the secrets of the craft, unlocking potent abilities to shape your destiny.
            
            <br/><br/>
            <b>Choose Your Companion:</b>
            As you venture forth, you'll have a crucial choice to make: Will you forge a bond with a mystical companion, a loyal familiar, or connect with the spirits of your ancestors? 
            Each choice brings unique advantages, guiding your path in unexpected ways. 
            A companion may offer combat support, a familiar might provide additional magical prowess, and an ancestor can impart wisdom from beyond the veil.
            
            <br/><br/>
            <b>Traverse Otherworldly Realms:</b>
            Travel through ancient portals to explore breathtaking and diverse realms, each with its own enchanting beauty and perilous challenges. 
            Encounter fae forests, ethereal sanctuaries, shadowy underworlds, and more, all brimming with secrets to uncover and creatures to face.
            
            <br/><br/>
            <b>Meet Deities of Myriad Pantheons:</b>
            As your quest unfolds, you will cross paths with deities from various pantheons, each holding a piece of the puzzle to unravel the greater evil threatening the very essence of magick. 
            Form alliances, seek their blessings, and unlock divine abilities to aid you in your battle against darkness.
            
            <br/><br/>
            <b>The Fate of Magick Hangs in the Balance:</b>
            A looming malevolence threatens to corrupt and obliterate all forms of magick across the realms. 
            To save the mystical arts and protect the balance of worlds, you must gather knowledge, forge alliances, and harness the full extent of your occult abilities. 
            Only by uniting the forces of light and mastering the Fae Paths can you hope to defeat the greater evil and ensure the survival of all you hold dear.
            
            <br/><br/>In "Fae Paths," your destiny as an occultist will unfold, leading you through a mesmerizing and perilous journey where the boundaries of magic blur, and the fate of multiple realms rests in your hands. 
            Are you ready to embrace the mystical and take your first step down the Fae Paths?</p>
    </div>
    
    <footer>
        <center><p>&copy; Fae Paths 2023</p></center>
    </footer>
    
</body>
</html>
